<ion-header>
  <ion-toolbar>
    <ion-title>¿A quien llamamos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="tel:+541160054078" class="btn">Maxi</a>
</ion-content>

<ion-content>
  <a href="tel:911" class="btn">Policia</a>
</ion-content>

<ion-content>
  <a href="tel:911" class="btn">Ambulancia</a>
</ion-content>

<ion-content>
  <a href="tel:911" class="btn">Bomberos</a>
</ion-content>

<ion-content>

  <div id="container">
  <button ion-button [routerLink]="['/home']" class="btn">Volver</button>

  </div>
</ion-content>
